[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dashboardthemes"]
	path = dashboardthemes
	url = https://github.com/nik01010/dashboardthemes
[submodule "openbankeR"]
	path = openbankeR
	url = https://github.com/nik01010/openbanker
